body {
    padding: 0;
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
}
.content{
    align-self: center;
}
.cardComponent{
    border: .1rem solid red;
}
.cardContent{
    padding: .6rem;
    display: flex;
    justify-content: center;
    align-content: center;
}